@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Carter+One");
html,
body {
  margin: 0;
  width: 100%;
  height: 100vh;
  color: #3a3a3a;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.logo {
  width: 54vw;
}

.actionBtns {
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.actionBtns .btn {
  text-transform: uppercase;
  font-size: 1.3rem;
  width: 50%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
  background: #33c4b3;
}

.actionBtns .btn-red {
  background: #f33584;
}

#root {
  font-family: "Open Sans", sans-serif;
  height: 100%;
}

#root .App {
  height: 100%;
}

#root * {
  box-sizing: border-box;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Forms*/
form {
  height: 100%;
}

.login {
  height: 100%;
}

.register {
  font-size: 0.9rem;
  margin: 8vh 0 0;
}

.error {
  margin: -14px 0 0;
  color: red;
  font-size: 0.9rem;
  line-height: 0.9rem;
  height: 2vh;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  margin: 0 auto;
}

.form > * {
  padding: 2vh 0 0;
}

.form-game .players {
  width: 100%;
  display: flex;
}

.form-game .players div {
  width: 90%;
}

.form-game button {
  margin: 6vh auto 0;
}

.form-login {
  justify-content: center;
  height: 100%;
}

/* GamesList */
.listScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.listScreen div:nth-child(1) {
  margin: 7vh 0 4vh;
  padding-bottom: 1vh;
}

.listScreen .list {
  list-style-type: none;
  margin: 0;
  width: 100%;
  overflow: auto;
}

.listScreen .list li {
  display: grid;
  padding: 8px;
}

.listScreen .list li span {
  justify-self: center;
}

.listScreen .list li span:nth-child(2), .listScreen .list li span:nth-child(3) {
  justify-self: start;
}

.listScreen .list li.listHeader {
  font-style: italic;
  color: #33c4b3;
}

.listScreen .list-games li {
  grid-template-columns: 1fr 2fr 2fr 1fr;
}

.listScreen .list-games a {
  font-weight: 800;
}

.listScreen .list-users {
  grid-template-columns: 1fr;
}

.listScreen .list-users li {
  justify-content: center;
  font-size: 1.3rem;
}

.listScreen .list-users li.activeUser {
  color: #33c4b3;
}

.listScreen button.createGameBtn {
  position: fixed;
  bottom: 10%;
  right: 10%;
  color: #fff;
}

.listScreen.list-gameUsers ul {
  padding-top: 5vh;
}

.modal {
  position: fixed;
  z-index: 110;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal-backdrop {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-contentBox {
  background: #fff;
  border-radius: 5px;
  position: fixed;
  width: 90%;
  height: 90%;
  top: 5%;
  left: 5%;
  transform: translate(-5%, -5%);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  text-align: center;
}

.modal-contentBox > * {
  padding-bottom: 10px;
}

.modal-contentBox button {
  margin-top: 3vh;
}

.tabBar {
  background: #fff;
  position: fixed;
  z-index: 100;
  top: 4vh;
  left: 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  font-size: 1.3rem;
}

.tabBar .tab {
  justify-content: center;
  align-items: center;
  border-right: 1px solid #33c4b3;
  height: calc(100vw / 5);
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #33c4b3;
  background: #33c4b3;
  color: #fff;
}

.tabBar .active {
  border-bottom: none;
  background: #fff;
  color: #33c4b3;
}

.tabBar .empty {
  background: #019281;
  pointer-events: none;
}

.topMenu {
  position: fixed;
  z-index: 120;
  left: 0;
  bottom: 96vh;
  height: 100%;
  width: 100%;
  background: #1C1C1D;
  display: grid;
  grid-template-rows: 1fr 4vh;
  transition: all .5s;
  color: #fff;
}

.topMenu.isOpen {
  bottom: 0;
  transition: all .5s;
}

.topMenu nav ul {
  height: 100%;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.topMenu nav ul li {
  padding: 2vh 0;
}

.topMenu .logo_small {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.2vh 0 0 2vh;
}

.topMenu .logo_small img {
  height: 2vh;
}

.topMenu .dragBar {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row-start: 2;
}

.topMenu .avatar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4vh;
  font-size: .8rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 2vh;
}

.topMenu .avatar .avatarImg {
  height: 3vh;
  margin-left: 10px;
}

.topMenu-hof {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.topMenu-hof .backLink {
  font-size: .8rem;
  margin-top: 10vh;
}

.topMenu-hof .list-hof {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
}

.topMenu-hof .list-hof li {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}

.topMenu-hof .list-hof li.activeUser {
  color: #33c4b3;
}

.topMenu-hof .list-hof li.listHeader {
  margin: 0 0 10px 0;
  text-transform: uppercase;
}

.mainContainer {
  padding-top: calc(4vh + 100vw / 5);
  height: 100%;
}

.game {
  display: grid;
  grid-template-rows: 1fr 8fr;
  height: 100%;
}

.game-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-details h1 {
  font-size: 2.6rem;
  font-family: "Open Sans", sans-serif;
  margin: 5vh 0 4vh;
}

.game-notStarted {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-notStarted button {
  margin-top: 5vh;
}

/* gameQrScreen */
.gameQrScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.gameQrScreen .QRCode {
  margin: 2vh 0 5vh;
  padding: 1vh;
  background-color: #fff;
}

.gameQrScreen p {
  font-size: 2rem;
  margin: 1vh 0 0 0;
  color: #33c4b3;
}

/* gameScanScreen */
.gameScanScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gameScanScreen .waitingScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 7vh;
}

.gameScanScreen .waitingScreen h2 {
  line-height: 3rem;
  text-align: center;
  margin: 8vh 0;
}

.gameScanScreen .scanCode {
  width: 70vw;
}

.gameScanScreen button {
  font-size: 1rem;
  text-transform: uppercase;
}

.playerStatus {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.playerStatus img {
  max-width: 240px;
  max-height: 34vh;
}

.playerStatus h2 {
  font-size: 2rem;
  text-transform: uppercase;
  color: #33c4b3;
  margin: 0;
}

.scanResult {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  position: relative;
  width: 85%;
}

.scanResult img {
  max-width: 240px;
  max-height: 34vh;
}

.scanResult h2 {
  font-size: 3.5rem;
  text-transform: uppercase;
  color: #33c4b3;
  margin: 0;
  margin-top: 4vh;
}

.scanResult h3 {
  font-size: 4rem;
  margin: 0;
  position: absolute;
  top: 30%;
  right: 0;
  color: #33c4b3;
  font-weight: 800;
}

.highlight {
  font-weight: 900;
  background-color: rgba(51, 196, 179, 0.6) !important;
}
