// FONTS
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url('https://fonts.googleapis.com/css?family=Carter+One');
// VARIABLES
$color-list-header: #33c4b3;
$prim-color: #33c4b3;
$sec-color: #33c4b3;
$topM-color: #1C1C1D;
$text:rgb(58,
58,
58);
$font: "Open Sans",
sans-serif;
$titleFont: 'Open Sans',
sans-serif;
//RESET
html,
body {
  margin: 0;
  width: 100%;
  height: 100vh;
  color: $text;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.logo {
  width: 54vw
}

.actionBtns {
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  .btn {
    text-transform: uppercase;
    font-size: 1.3rem;
    width: 50%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
    background: $prim-color;
    &-red {
      background: rgb(243, 53, 132)
    }
  }
}

// GENERAL
#root {
  font-family: $font;
  height: 100%;
  .App {
    height: 100%;
  }
  * {
    box-sizing: border-box;
  }
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Forms*/

form {
  height: 100%;
}

.login {
  height: 100%;
}

.register {
  font-size: 0.9rem;
  margin: 8vh 0 0;
}

.error {
  margin: -14px 0 0;
  color: red;
  font-size: 0.9rem;
  line-height: 0.9rem;
  height: 2vh;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  margin: 0 auto;
  &>* {
    padding: 2vh 0 0;
  }
  &-game {
    .players {
      width: 100%;
      display: flex;
      div {
        width: 90%;
      }
    }
    button {
      margin: 6vh auto 0;
    }
  }
  &-login {
    justify-content: center;
    height: 100%;
  }
}

/* GamesList */

.listScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  div:nth-child(1) {
    margin: 7vh 0 4vh;
    padding-bottom: 1vh;
  }
  .list {
    list-style-type: none;
    margin: 0;
    width: 100%;
    overflow: auto;
    li {
      display: grid;
      padding: 8px;
      span {
        justify-self: center;
        &:nth-child(2),
        &:nth-child(3) {
          justify-self: start;
        }
      }
      &.listHeader {
        font-style: italic;
        color: $color-list-header;
      }
    }
    &-games {
      li {
        grid-template-columns: 1fr 2fr 2fr 1fr;
      }
      a {
        font-weight: 800
      }
    }
    &-users {
      grid-template-columns: 1fr;
      li {
        justify-content: center;
        font-size: 1.3rem;
        &.activeUser {
          color: $prim-color;
        }
      }
    }
  }
  button.createGameBtn {
    position: fixed;
    bottom: 10%;
    right: 10%;
    color: #fff;
  }
  &.list-gameUsers {
    ul {
      padding-top: 5vh;
    }
  }
}

// MODAL
.modal {
  position: fixed;
  z-index: 110;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  &-backdrop {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }
  &-contentBox {
    background: #fff;
    border-radius: 5px;
    position: fixed;
    width: 90%;
    height: 90%;
    top: 5%;
    left: 5%;
    transform: translate(-5%, -5%);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    text-align: center;
    &>* {
      padding-bottom: 10px;
    }
    button {
      margin-top: 3vh;
    }
  }
}

// TABBAR
.tabBar {
  background: #fff;
  position: fixed;
  z-index: 100;
  top: 4vh;
  left: 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  font-size: 1.3rem;
  .tab {
    justify-content: center;
    align-items: center;
    border-right: 1px solid $sec-color;
    height: calc(100vw / 5);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid $sec-color;
    background: $sec-color;
    color: #fff
  }
  .active {
    border-bottom: none;
    background: #fff;
    color: $prim-color;
  }
  .empty {
    background: $sec-color - 50;
    pointer-events: none;
  }
}

//TOPMENU
.topMenu {
  position: fixed;
  z-index: 120;
  left: 0;
  bottom: 96vh; //0;
  height: 100%;
  width: 100%;
  background: $topM-color;
  display: grid;
  grid-template-rows: 1fr 4vh;
  transition: all .5s;
  color: #fff;
  &.isOpen {
    bottom: 0;
    transition: all .5s;
  }
  nav {
    ul {
      height: 100%;
      text-transform: uppercase;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      list-style: none;
      li {
        padding: 2vh 0;
      }
    }
  }
  .logo_small {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.2vh 0 0 2vh;
    img {
      height: 2vh;
    }
  }
  .dragBar {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row-start: 2;
  }
  .avatar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4vh;
    font-size: .8rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 2vh;
    .avatarImg {
      height: 3vh;
      margin-left: 10px;
    }
  }
  &-hof {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    .backLink {
      font-size: .8rem;
      margin-top: 10vh;
    }
    .list-hof {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 60%;
      li {
        display: flex;
        justify-content: space-between;
        padding: 5px 0;
        &.activeUser {
          color: $prim-color
        }
        &.listHeader {
          margin: 0 0 10px 0;
          text-transform: uppercase;
        } // span:after {
        //   margin-left: 5px;
        // }
        &:nth-child(2) span:first-child:after {
          // content: url(./assets/first_place.png);
        }
        &:nth-child(3) span:first-child:after {
          // content: url(./assets/second_place.png);
        }
        &:nth-child(4) span:first-child:after {
          // content: url(./assets/third_place.png);
        }
      }
    }
  }
}

// MAINCONTAINER
.mainContainer {
  padding-top: calc(4vh + 100vw / 5);
  height: 100%;
}

.game {
  display: grid;
  grid-template-rows: 1fr 8fr;
  height: 100%;
  &-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      font-size: 2.6rem;
      font-family: $titleFont;
      margin: 5vh 0 4vh;
    } // .DetailsList {
    //   align-self: flex-end;
    //   display: flex;
    //   list-style-type: none;
    //   padding: 0;
    //   margin: 0 5%;
    //   li {
    //     display: flex;
    //     flex-direction: column;
    //     align-items: center;
    //     text-align: center;
    //     padding: 0 0 0 1em;
    //     span {
    //       border-radius: 100%;
    //       &:first-child {
    //         width: 40px;
    //         height: 40px;
    //         line-height: 40px;
    //         background-color: rgb(72, 154, 255);
    //         font-size: 1rem;
    //         color: #fff;
    //       }
    //       &:last-child {
    //         font-size: 0.8em;
    //         padding: 0.5em 0 0 0;
    //       }
    //     }
    //   }
    // }
  }
  &-notStarted {
    display: flex;
    flex-direction: column;
    align-items: center;
    button {
      margin-top: 5vh;
    }
  }
}

/* gameQrScreen */

.gameQrScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  .QRCode {
    margin: 2vh 0 5vh;
    padding: 1vh;
    background-color: #fff;
  }
  p {
    font-size: 2rem;
    margin: 1vh 0 0 0;
    color: $prim-color
  }
}

/* gameScanScreen */

.gameScanScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  .waitingScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 7vh;
    h2 {
      line-height: 3rem;
      text-align: center;
      margin: 8vh 0;
    }
  }
  .scanCode {
    width: 70vw;
  }
  button {
    font-size: 1rem;
    text-transform: uppercase;
  }
}

// PLAYER STATUS
.playerStatus {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  img {
    max-width: 240px;
    max-height: 34vh;
  }
  h2 {
    font-size: 2rem;
    text-transform: uppercase;
    color: $sec-color;
    margin: 0;
  }
}

.scanResult {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  position: relative;
  width: 85%;
  img {
    max-width: 240px;
    max-height: 34vh;
  }
  h2 {
    font-size: 3.5rem;
    text-transform: uppercase;
    color: $sec-color;
    margin: 0;
    margin-top: 4vh;
  }
  h3 {
    font-size: 4rem;
    margin: 0;
    position: absolute;
    top: 30%;
    right: 0;
    color: $prim-color;
    font-weight: 800;
  }
}

.highlight {
  // color: $prim-color;
  font-weight: 900;
  background-color: rgba($prim-color, .6) !important;
}